#show
  %h1
    Je suis la vu show !

  %section
    .photo
      = img_tag('tatoo3.jpg', 'yeah')
    .photo
      = img_tag('croquis3.jpg', 'yeah')
    .legend
      %p
        Genre tatoo
        %br
        Style
  .description
    %p
      Lorem ipsum dolor sit amet, consectetur
